@model IEnumerable<Vidly_1._0.Models.Movie>
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

@using (Html.BeginForm("New", "Movie"))
{
    <button type="submit" class="btn btn-primary" style="margin-bottom:10px">New Movie</button>
}


<table id="movies" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Movie</th>
                <th>Genre</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

@section scripts
{
    <script>
        $(document).ready(function() {
          var table = $("#movies").DataTable({
                ajax: {
                    url: "/api/movies/",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function(data, type, movie) {
                            return "<a href='/movie/edit/" + movie.id + "'>" + movie.name + "</a>";
                        }
                    },
                    {
                        data: "genres.name"
                    },
                    {
                        data: "id",
                        render: function(data) {
                            return "<button class='btn-link js-delete' data-movie-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });

            $("#movies").on("click", "js-delete",
                function() {
                    var button = $(this);
                    bootbox.confirm("Are You Want To Delete This Movie?",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/movies/" + button.attr("data-movie-id"),
                                    type: "DELETE",
                                    success: function() {
                                        table.row(button.parents("tr")).remove().draw();
                                        
                                    }
                                });
                            }
                        });

                });
        });
    </script>


}
